[Unit]
Description=uploading ConcertCloud events to mobilisons.ch
Wants=mobilisons-bot.timer

[Service]
Type=oneshot
ExecStart=/home/mobilizon/go/bin/go-mobilizon-bot --country=Switzerland --actor=65691 --group=73091 --limit=2000
User=mark
Group=mark
WorkingDirectory=/home/mobilizon

[Install]
WantedBy=multi-user.target

